.sectionThree
  background-image: url("../assets/tram.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

  .sectionThree__article
    background-image: url("../assets/pcVideo.svg")
    background-position: center
